In [32]:
import tensorflow as tf
import pandas as pd
import numpy as np

In [33]:
df = pd.read_csv('dataset\Biomass_History.csv')

In [34]:
#Check if there are any null values
df.isnull().sum()

Index        0
Latitude     0
Longitude    0
2010         0
2011         0
2012         0
2013         0
2014         0
2015         0
2016         0
2017         0
dtype: int64

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2418 entries, 0 to 2417
Data columns (total 11 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Index      2418 non-null   int16
 1   Latitude   2418 non-null   float16
 2   Longitude  2418 non-null   float16
 3   2010       2418 non-null   float16
 4   2011       2418 non-null   float16
 5   2012       2418 non-null   float16
 6   2013       2418 non-null   float16
 7   2014       2418 non-null   float16
 8   2015       2418 non-null   float16
 9   2016       2418 non-null   float16
 10  2017       2418 non-null   float16
dtypes: float16(10), int16(1)
memory usage: 52.1 KB

In [36]:
# df.head()
df.loc[:]['Longitude'][0]

71.33144

In [40]:
#converting float64 to float32 and int64 to int16
columns = list(df.columns)
for column in columns:
    if(type(df[column][0]) == np.float64):
        df[column] = df[column].astype('float16')
    if(type(df[column][0]) == np.int64):
        df[column] = df[column].astype('int16')

In [39]:
df.head()

,Index,Latitude,Longitude,2010,2011,2012,2013,2014,2015,2016,2017
0,0,24.671875,71.3125,8.476562,8.867188,9.203125,6.023438,10.789062,6.648438,7.386719,5.179688
1,1,24.671875,71.4375,24.031250,28.546875,25.859375,21.640625,34.406250,27.359375,40.437500,42.125000
2,2,24.671875,71.5000,44.843750,66.125000,56.968750,53.000000,70.937500,42.531250,59.187500,73.187500
3,3,24.671875,71.5625,59.968750,80.812500,78.937500,63.156250,93.500000,70.187500,74.562500,101.062500
4,4,24.671875,71.6250,14.656250,19.328125,21.921875,17.906250,19.531250,19.171875,16.531250,26.093750

In [55]:
#Scaling the columns from 2010 to 2017
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler
ct = ColumnTransformer([('std',StandardScaler(),[str(x) for x in np.arange(2010,2018)]),
                       ],remainder='passthrough')

In [56]:
transformed_df = ct.fit_transform(df)

In [61]:
transformed_df= pd.DataFrame(transformed_df,columns=['2010','2011','2012','2013' ,'2014','2015','2016','2017','Index','Latitude','Longitude'])

In [64]:
transformed_df = transformed_df[columns]